img {
  height: 50px;
  width: 70px;
}
body{
  background: rgba(0, 0, 0, 0.7);
}
table{
  background: rgba(0, 0, 0, 0.5);
}
tr{
  color: #c5e1a5!important;
}
.box {
  margin: 15px 0;
  padding: 10px;
  background: #bff3dc;
}
.column-width {
  max-width: 50px !important;
}
.btn {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
}
tr{
    cursor: pointer;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#overlayImg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
